.container {
  border-radius: 5px;
  padding: 20px;
}

.form-inline {
  flex-direction: column;
  align-items: stretch;
}

select {
  width: 20%;
  padding: 12px 10px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  color: sienna;
  border: 1px solid sienna;
}

label {
  padding: 10px 12px 12px 0;
  display: inline-block;
}

input,
textarea {
  margin-top: 8px;
  background-color: gainsboro;
  border: 1px solid sienna;
}

input[type="file"],
input[type="submit"] {
  background-color: white;
  border: 0;
}

input[type="submit"] {
  padding: 10px 12px;
  border: 1px solid sienna;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0 20px 25vw;
  color: sienna;
}
input[type="checkbox"] {
  margin-top: 12px;
}

.col-25 {
  float: left;
  width: 45%;
  margin-top: 6px;
  text-align: right;
}

.col-75 {
  float: left;
  width: 55%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

fieldset {
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px solid maroon;
}

legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  background-color: orange;
  color: white;
  border: 1px solid black;
}
